@page "/calc"

<PageTitle>CO2 Calc</PageTitle>

<h3>CO2 Output</h3>
<label>Kilometres</label>
<input type="number" @bind="Kilometres" @bind:event="oninput"/>

@foreach (var t in Transportations)
{
    <div class="card w-25 mt-2">
        <div class="card-body">
            <h2 class="card-title">@t.Title</h2>
            <hr />
            <p class="card-text fw-bold">@CalculateCo2InKg(t.Co2PerKmInGramm) kilograms</p>
        </div>
    </div>
}

@code {
    private int Kilometres = 100;
    private List<Transportation> Transportations = new()
    {
        new ("Car 🚗", 147),
        new ("Airplane 🛫", 230),
        new ("Train 🚝", 32)
    };

    private double CalculateCo2InKg(double co2value) => (co2value * Kilometres) / 1000;

    public record Transportation(string? Title, double Co2PerKmInGramm);
}
