@page "/co2-calc"

<PageTitle>CO2 Calc</PageTitle>

<h3>CO2 Output</h3>
<label>Kilometres</label>
<input type="number" @bind="Kilometres" @bind:event="oninput"/>

@foreach (var t in Transportations)
{
    <Calc Transport="@t.Title" Value="CalculateCo2(t.Co2PerKmInGramm)" />
}

@code {
    private int Kilometres = 100;
    private List<Transportation> Transportations = new()
    {
        new ("Car 🚗", 147),
        new ("Airplane 🛫", 230),
        new ("Train 🚝", 32)
    };

    private int CalculateCo2(int co2value) => co2value * Kilometres;

    public record Transportation(string? Title, int Co2PerKmInGramm);
}
