@page "/co2-calc"

<PageTitle>CO2 Calc</PageTitle>

<h3>CO2 Output</h3>
<label>Kilometres</label>
<input type="number" @bind="Kilometres" @bind:event="oninput"/>

@foreach (var t in Transportations)
{
    <Result Transport="@t.Title" Co2inKg="CalculateCo2InKg(t.Co2PerKmInGramm)" />
}

@code {
    private int Kilometres = 100;
    private List<Transportation> Transportations = new()
    {
        new ("Car 🚗", 147),
        new ("Airplane 🛫", 230),
        new ("Train 🚝", 32)
    };

    private double CalculateCo2InKg(double co2value) => (co2value * Kilometres) / 1000;

    public record Transportation(string? Title, double Co2PerKmInGramm);
}
