@page "/co2-calc"

<PageTitle>CO2 Calc</PageTitle>

<h3>CO2 Output</h3>
<label>Kilometres</label>
<input type="number" @bind="Kilometres" @bind:event="oninput"/>

@foreach (var t in Transportations)
{
    <Calc Transport="@t.Title" Value="CalculateCo2(t.Co2PerKmInGramm)" />
}

@code {
    private int Kilometres = 100;
    private List<Transportation> Transportations = new List<Transportation>
    {
        new() { Title = "Car 🚗", Co2PerKmInGramm=147 },
        new() { Title = "Airplane 🛫", Co2PerKmInGramm=230 },
        new() { Title = "Train 🚝", Co2PerKmInGramm=32 }
    };

    private int CalculateCo2(int co2value) => co2value * Kilometres;

    public class Transportation
    {
        public string? Title { get; set; }
        public int Co2PerKmInGramm { get; set; }
    }
}
