@page "/mobility"

<PageTitle>Co2 Calc</PageTitle>

<h3>Co2 Output</h3>
<label>Kilometres</label>
<input type="number" @bind-value="Kilometres" @bind-value:event="oninput"/>

@foreach (var t in Transportations)
{
    <Calc Transport="@t.Title" Value="CalculateCo2(t.Co2PerKmInGramm)" />
}

@code {
    private int Kilometres = 100;
    private List<Transportation> Transportations = new List<Transportation>{ 
        new Transportation { Title = "Car 🚗", Co2PerKmInGramm=147 },
        new Transportation { Title = "Airplane ✈", Co2PerKmInGramm=230 },
        new Transportation { Title = "Train 🚝", Co2PerKmInGramm=32 } };

    private int CalculateCo2(int co2value) => co2value * Kilometres;

    public class Transportation
    {
        public string? Title { get; set; }
        public int Co2PerKmInGramm { get; set; }
    }
}
