<div class="card w-25 mt-2">
    <div class="card-body">
        <h5 class="card-title">@Transport</h5>
        <p class="card-text fw-bold">CO2 Output: @Co2inKg kilograms</p>
    </div>
</div>

@code {
    [Parameter, EditorRequired]
    public string? Transport { get; set; }
    [Parameter, EditorRequired]
    public double Co2inKg { get; set; }
}